#field{
    border: solid 5px red;
    width: 400px;
    height: 300px;
    background-color: aqua;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: start;
}

.square{
    width: 50px;
    height: 50px;
    border: solid 2px gray;
    box-sizing: border-box;
}