main {
    width: 50%;
    background-color: aquamarine;
    margin: auto;
    padding: 10px;
    border: solid 2px blue;
}

main input{
    width: 50px;
}

main textarea {
    width: 80%;
    padding: 10px;
}

.word_n{
    background-color: bisque;
    padding: 5px;
}